@{
    Layout = "_SuperAdminLayout";
}

<h1>Index Menu</h1>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("adminMenuId1").classList.add("active");
        document.getElementById("adminMenuId1").classList.add("rounded");
        document.getElementById("adminMenuId1").classList.add("rounded-1");
        document.getElementById("adminMenuId1").classList.add("bg-primary");
    });
</script>