
@{
    ViewData["Title"] = "ConfirmRegistration";
}

<h1>ConfirmRegistration</h1>
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Congratulate with registration</h4>
    <p>To confirm email see massege on your email</p>
    <hr>
    <p class="mb-0">
        <a asp-action="Index"
           asp-controller="Home"
           class="link-success">On Main Page</a>
    </p>
</div>
